* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: sans-serif;
}

header,
section,
footer {
    margin: 50px 50px auto 50px;
}

nav {
    background     : radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(46, 45, 45) 90.2%);
    min-height     : 80px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 0 34px;
    width          : 100%;
    top            : 0;
    position       : fixed;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

.logo {
    font-size: 32px;
    color    : white;
}

.nav-menu {
    display    : flex;
    align-items: center;
    gap        : 30px;
}

.nav-link {
    color         : white;
    font-size     : 14px;
    padding       : 7px 13px;
    border-radius : 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition    : 0.3s;
}

.nav-link:hover {
    background : white;
    color      : black;
    font-weight: bolder;
    transition : .5s;
}

.hamburger {
    display: none;
    cursor : pointer;
}

.bar {
    display         : block;
    width           : 28px;
    height          : 3px;
    border-radius   : 2px;
    margin          : 5px auto;
    background-color: #fff;
    transition      : all 0.3s ease-in-out;
}


header {
    background    : radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(46, 45, 45) 90.2%);
    margin        : 0 !important;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    text-align    : center;
    min-height    : 450px;
    margin-top    : 100px;
}


header h1 {
    margin-top: 100px;
    color     : white;
    width     : 100%;
    padding   : 30px;
}

header p {
    color         : white;
    width         : 70%;
    text-align    : center;
    font-size     : 16px;
    font-family   : sans-serif;
    letter-spacing: 1px;
    line-height   : 1.25;
}

header a {
    justify-content: center;
    display        : flex;
    align-items    : center;
    width          : 150px;
    height         : 35px;
    margin-top     : auto;
    margin-bottom  : 40px;
    border-radius  : 13px;
    text-decoration: none;
    font-size      : 16px;
    color          : black;
    font-weight    : bolder;
    background     : white;
}

#sobre {
    margin         : 0 !important;
    margin-top     : 30px !important;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    text-align     : center;
    justify-content: center;
    height         : 350px;
}

#sobre h2 {
    text-transform: uppercase;
    color         : black;
    width         : 70%;
}

#sobre p {
    margin-top    : 50px;
    color         : black;
    text-align    : center;
    font-family   : sans-serif;
    width         : 70%;
    font-size     : 16px;
    letter-spacing: 1px;
    line-height   : 1.25;
}

#sobre a {
    justify-content: center;
    display        : flex;
    align-items    : center;
    width          : 150px;
    height         : 35px;
    margin-bottom  : 40px;
    border-radius  : 13px;
    font-size      : 16px;
    color          : black;
    font-weight    : bolder;
}

#servicos {
    margin         : 0px;
    padding        : 0px;
    width          : 100%;
    min-height     : 600px;
    background     : #dedede;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

#servicos h2 {
    text-transform : uppercase;
    width          : 100%;
    height         : 85px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    color          : black;
}

.content-servicos {
    margin-top           : 25px;
    padding-bottom       : 50px;
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    gap                  : 50px;
}

.card {
    height        : 250px;
    background    : white;
    border-radius : 5px;
    transition    : 0.3s;
    width         : 300px;
    box-shadow    : 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display       : flex;
    flex-direction: column;
    overflow      : hidden;
}

.card-img {
    width          : 100%;
    height         : 150px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    padding        : 1rem;
    background     : linear-gradient(to bottom left, rgb(0, 0, 0) 0%, rgb(46, 45, 45) 90.2%);
}

.card-title {
    color         : black;
    font-size     : 1.1rem;
    font-weight   : 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin        : 8px;
}

.card-body {
    text-align   : justify;
    margin       : 10px;
    color        : rgb(82, 82, 82);
    font-size    : 0.875rem;
    line-height  : 1.5;
    margin-bottom: 1.25rem;
    font-weight  : 400;
}


#fotos {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin         : 0px;
    padding        : 0px;
    width          : 100%;
}

#fotos h2 {
    text-align: center;
    padding   : 20px auto;
    margin-top: 25px;
}

.card-fotos img {
    width        : 400px;
    border-radius: 15px;
}

.content-cards-fotos {
    margin-top           : 25px;
    padding-bottom       : 50px;
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    gap                  : 20px;
    
}


#contato {
    text-align     : justify;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    height         : 350px;
}

#contato h2 {
    text-transform: uppercase;
    font-weight   : bolder;
    margin-bottom : 25px;
}

#contato p {
    text-transform: uppercase;
    font-size     : 16px;
    font-weight   : bold;
}

#contato div {
    display       : flex;
    flex-direction: row;
    margin-top    : 25px;
}

#telefone {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: center;
    gap            : 20px;
}

#email {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    justify-content: center;
    gap            : 20px;
}

footer {
    margin         : 0;
    padding        : 0;
    width          : 100%;
    background     : linear-gradient(to bottom left, rgb(0, 0, 0) 0%, rgb(46, 45, 45) 90.2%);
    height         : 120px;
    bottom         : 0;
    color          : white;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}

footer a {
    text-transform : uppercase;
    color          : white;
    font-weight    : bolder;
    text-decoration: underline;
    margin-bottom  : 15px;
}

@media (max-width: 768px) {

    .content-cards-fotos {
        display       : flex;
        flex-direction: column;
    }

    .content-servicos {
        display       : flex;
        flex-direction: column;
    }

    #fotos img {
        max-width: 350px;
    }

    header a {
        margin-top: 15px;
    }

    nav {
        height: 50px;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position      : fixed;
        left          : 100%;
        top           : 60px;
        gap           : 0;
        background    : radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(46, 45, 45) 90.2%);
        text-align    : center;
        flex-direction: column;
        width         : 100%;
        transition    : 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}