* {
    padding        : 0;
    margin         : 0;
    text-decoration: none;
    list-style     : none;
    box-sizing     : border-box;
}

nav {
    background : black;
    line-height: 60px;
    align-items: center;
    height     : 60px;
    width      : 100vw;
}

nav .logo {
    padding-left: 100px;
    color       : white;
    font-size   : 25px;
    font-weight : bolder;
}

nav ul {
    float       : right;
    margin-right: 50px;
}

nav ul li {
    display      : inline-block;
    padding-right: 0 50px;
}

nav ul li a {
    color         : white;
    font-size     : 14px;
    padding       : 7px 13px;
    border-radius : 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav ul li a:hover {
    background : white;
    color      : black;
    font-weight: bolder;
    transition : .5s;
}

.checkbtn {
    font-size   : 30px;
    color       : white;
    float       : right;
    margin-right: 40px;
    cursor      : pointer;
    display     : none;
}

#check {
    display: none;
}

#fotos img {
    width: 500px;
}

@media (max-width: 952px) {
    label.logo {
        font-size   : 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}



@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    /*
    #check:checked ~ .checkbtn i::before{
        content: '\f00d';
    }
    */

    ul {
        position  : fixed;
        width     : 100%;
        height    : 100vh;
        background: black;
        top       : 60px;
        left      : -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display    : block;
        margin     : 20px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav ul li a:hover {
        background: none;
        color     : white;
    }

    #check:checked~ul {
        left: 0;
    }
}